#app{
  display: grid;
  grid-template-columns: 51.25% 48.75%;

  /*Aqui estou falando que quero usar 100% do espaço, automativamente ira criar uma barra de rolagem, que estou tirando no global.css *{ e overflow hidden */
  height: 100vh;
  overflow: hidden;
}

main{
  /*para fazer a rolagem auto da lateral do formulario*/
  overflow: auto;
  padding: 4rem;

  /*Limitar o tamanho das caixas de textos usando o css nesting*/
  & .main-container{
    /*Limita a Coluna*/
    max-width: 33rem;
    /*para empurrar para o meio da tela*/
    margin-left: auto;
  }

  & .back{
    display: flex;/*Alinha a flecha com a palavra*/
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
  }

  & h1{
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
  }
}

/*Lado direito fixo da pagina*/
aside{
  background-color: var(--surface-secondary);
  padding: 4rem;

  & .aside-container{
    max-width: 31rem;

    /*Configura a primeira imagem*/
    & > img{
      margin-top: 2rem;      
    }
  }

  & h2{
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
    & span{
      color: var(--text-highlight);
    }
  }
}